body {
    background: #ffffff;

}
.profiles {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    @include respond-to(sm) {
        width: 100%;
        flex-direction: column;
    }
    &-list {
        flex: 1;
        transition: all .3s ease-out;
    }
    &-details {
        flex-basis: 60%;
        transition: all .3s ease-out;
        position: relative;
        display: flex;
        flex-direction: column;
        .logo {
            width: 60px;
            height: 60px;
            align-self: center;
        }
        .header {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-self: self-start;
            align-items: center;
            margin: 20px;
            &--wrap {
                display: flex;
                flex-direction: column;
                margin-left: 15px;
            }
        }
        .filters {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin: 20px;
        }
    }

}

 
.profile {
    &-wrapper {
        background: #FFFFFF;
        box-shadow: 0 0 4px 0 rgba(172, 172, 172, 0.5);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;   
        align-items: center; 
        margin: 0 auto;
        @include respond-to(md) {
            margin: 0 20px;
        }
    }
}

.btn {
    background-color: cadetblue;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 16px;
    padding: 4px 8px;
    margin: 10px auto;
    border-radius: 3px;
    cursor: pointer;
    &--display {
       
    }
    &-close {
        width: 30px;
        height: 30px;
        position: absolute;
        align-self: flex-end;
        padding: 4px 8px;
        cursor: pointer;
    }
    &--status_paid {
        background-color: lightslategrey;
        padding: 2px 8px;
        border: none;
        margin: 0;
    }
}

.invoices-list {
    &--item {
        padding: 20px;
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 10px;
        margin: 10px 0;
        background: aliceblue;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 2px 1px 1px 2px rgba(0, 0, 0, 0.14), 2px 2px 1px -1px rgba(0, 0, 0, 0.12);
        p {
            line-height: 27px;
        }
    }
}
